.auxiliaryPlaceholderOpen, .auxiliaryPlaceholderClose, .placeholder {
    display: inline-block;
    color: #FFF;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    padding: 0px 4px 0px 4px;
    margin: 0px 1px 0px 1px;
}

.auxiliaryPlaceholderOpen, .auxiliaryPlaceholderClose {
    background-color: #c4cdd6;
    color: black;
}

.placeholder {
    background-color: #41b5dc;
}

.placeholder a {
    color: white;
}

.auxiliaryPlaceholderOpen {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.auxiliaryPlaceholderClose {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.placeholderContextHelp {
    max-width: 400px !important;
}

.placeholderContextHelp > pre {
    white-space: pre-wrap; 
}

.placeholder-wrapper .tether-tooltip-target {
    display: inline-flex !important;
}
